
    body,
    html {
        height: 100%;
        margin: 0;
    }

    .bg {
        /* The image used */
        background-image: url("../image/CU2.jpg");

        /* Full height */
        height: 100%;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
        #grad1 {
            border-radius: 25px;
            width: 400px;
            height: 40px;
            background: pink; /* For browsers that do not support gradients */
            background: linear-gradient(to right,pink ,white);
        }
    h1{
        text-align: center;
    }

     body {
        font-family: 'Abhaya Libre';font-size: 22px;
     }
     .textFont {
        font-family: 'Abhaya Libre';font-size: 22px;
     }
    .button {
                  background-color: #e7e7e7; color: black;
                  border: none;
                  color: rgb(14, 6, 6);
                  padding: 10px 21px;
                  text-align: center;
                  text-decoration: none;
                  display: inline-block;
                  font-size: 20px;
                  margin: 2.5px 1.25px;
                  cursor: pointer;
                }
    .button {
      display: inline-block;
      padding: 15px 25px;
      font-size: 24px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      outline: none;
      color: #fff;
      background-color: rgb(245, 161, 238);
      border: none;
      border-radius: 15px;
      box-shadow: 0 9px rgb(124, 119, 119);
    }

    .button:hover {background-color: rgb(245, 161, 238)}

    .button:active {
      background-color:rgb(245, 161, 238);
      box-shadow: 0 5px rgb(124, 119, 119);
      transform: translateY(4px);
    }
  .button {
                background-color: #e7e7e7; color: black;
                border: none;
                color: rgb(14, 6, 6);
                padding: 10px 21px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 20px;
                margin: 2.5px 1.25px;
                cursor: pointer;
              }
