
  body, html {
      height: 100%;
      margin: 0;
  }

  .bg {
      /* The image used */
      background-image: url("../image/we.jpg");

      /* Full height */
      height: 100%;

      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }


      body {
           font-family: 'Abhaya Libre';
           font-size: 22px;
      }
     h1{
       border-radius: 20px;
     }
        .button{
          border-radius: 15px;
          font-family: 'Abhaya Libre';
          font-size: 16px;
        }
        .button:hover {background-color: rgb(180, 180, 180)}

      .button1 {
        display: inline-block;
        padding: 15px 25px;
        font-size: 24px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: rgb(245, 161, 238);
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px rgb(124, 119, 119);
      }

      .button1:hover {background-color: rgb(245, 161, 238)}

      .button1:active {
        background-color:rgb(245, 161, 238);
        box-shadow: 0 5px rgb(124, 119, 119);
        transform: translateY(4px);
      }
    .button1 {
                  background-color: #e7e7e7; color: black;
                  border: none;
                  color: rgb(14, 6, 6);
                  padding: 10px 21px;
                  text-align: center;
                  text-decoration: none;
                  display: inline-block;
                  font-size: 20px;
                  margin: 2.5px 1.25px;
                  cursor: pointer;
                }
