<html>
  <head>
    <title>Pop Bus Alert</title>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
      <link rel="stylesheet" type="text/css" href="../style/secondStyle.css">
      <link href='https://fonts.googleapis.com/css?family=Abhaya Libre' rel='stylesheet'>
  </head>

  <body>
    <div class="bg">
    </br></br>
      <h1 id="headText" style="text-align:center;color:#D55373;background-color:#F6DBD1;border:2px solid black;width:500px;margin:auto;font-size:32px">We recommend you to take the bus </h1>
      </br></br>
      <center><div ng-app="test" ng-controller="myCtrl" >
        <button ng-repeat = "i in showBusNumber()" width="200" height="170" value="{{i}}" id="{{i}}" ng-click= "testFunction(i)" ng-disabled="i==5||i==6" class = "button" >
          <img src="../image/busIcon.png" alt="busIcon" width="150" height="150">
          </br>
          <div ng-if="i==6">No.5A</div>
          <div ng-if="i!=6">No.{{i}}</div>
      </button>
      </div>
    </center>
    <center><input type="button" id="ExitButton" onclick="location.href='firstScreen.html';" value="Exit" class="button1" style="display:none"/> </center>

    <script src="../script/secondPageCode.js"></script>
  </div>
  </body>
</html>
