<html>
  <head>
      <style>
      </style>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
  </head>

  <body>
    <h1>We recommend you to take </h1>
    <div ng-app="test" ng-controller="myCtrl" >
      <button ng-repeat = "i in showBusNumber()" width="200" height="170" value="{{i}}" ng-click= "testFunction(i)">
        <img src="../image/busIcon.png" alt="busIcon" width="150" height="150">
      </br>
        <div ng-if="i==6">No.5A</div>
        <div ng-if="i!=6">No.{{i}}</div>
      </button>
    </div>

    <script src="../script/secondPageCode.js"></script>

  </body>
</html>
